@model  Assignment08.Models.Class
@using Assignment08.Helpers
@using Assignment08.Models

@{
    ViewBag.Title = "Details";
}

<h2>Class Details</h2>

<div>
    <b>Class Name: </b>
    @Html.DisplayFor(model => model.Name)
</div>
<div>
    <b>Date: </b>
    @Html.DisplayDateOnlyFor(model => model.Date)
</div>
<div>
    <b>Description: </b>
    @Html.DisplayFor(model => model.Description)
</div>

<hr />

@if (Session["currentUser"] != null)
{
    <div style="margin: 10px">
        @if (Session["currentUser"] is Student currentUser && Model.Students.Contains(currentUser, new StudentComparer()))
        {
            @Html.ActionLink("Unregister", "Unregister", "Class", new { classId = Model.Id }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Register", "Register", "Class", new { classId = Model.Id }, new { @class = "btn btn-primary" })
        }
    </div>
}

<h2>Registered Students</h2>

<table class="table">

    @foreach (var item in Model.Students)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>