
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td>Requested URL</td>
                <td>Relative Path</td>
                <td>Full Path</td>
                <td>HTTP Request Type</td>
            </tr>
            <tr>
                @* Razor exsposes a Request Object with useful properties and methods! *@
                <td>@Request.Url</td>
                <td>@Request.FilePath</td>
                <td>@Request.MapPath(Request.FilePath)</td>
                <td>@Request.RequestType</td>
            </tr>
        </table>
    </div>

    @Html.ActionLink("Go to Lab 04", "Index", "Lab04")
</body>
</html>
